.iot_widget {
    border:         1px solid rgb(235, 235, 235);
    border-radius:  10px;
    padding:        10px;
}
.iot_widget_device {
    position:       relative;
    border:         1px solid #C1C1C1;
    border-radius:  10px;
    padding:        10px;
    margin:         10px;
    box-shadow:     3px 3px 3px rgb(236, 236, 236);
}
.iot_widget_device .PIN_code {
    width: initial;
    padding: 0.3em 0.7em;
}
.iot_widget_form_elements input[type=Submit] {
    float: right;
}
@media only screen and (max-width: 426px) {
    .iot_widget_form_elements input[type=Submit] {
        margin-top: 1em;
        float: none;
    }
}
.iot_widget_device .refresh_line {
    position:       relative;
    top:            -5px;
    width:          100%;
    height:         5px;
    background-color: rgb(68, 193, 52);
}
.msp-selected:after {
    content: ' ';
    position: absolute;
    border-radius: 10px;
    background: rgba(80, 80, 80, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.iot_widget_device .iot_widget_form_elements {
    margin-top: 1em;
    padding: 10px 0px;
    border-top: 1px dotted #C1C1C1;
}
.iot_infotext {
    font-size: 0.8em !important;
    font-style: italic;
    color: #C0C0C0;
    margin-right: 5px;
}
.iot_device_center {
    max-width:      300px;
    /*width:          100%;
    margin-left:    auto;
    margin-right:   auto;*/
}
.iot_widget_device .pin_box {
    border-bottom: dotted 1px #C0C0C0;
    margin-bottom: 5px;
}
.iot_sensor {
    width:              100%;
    display:            flex;
    flex-wrap:          nowrap;
    justify-content:    space-between;
    align-items:        center;
}
.iot_sensor .flex_item {
    flex:               1 1 auto;
}
.iot_sensor .value {
    align-self: flex-end;
    display:    flex;
    justify-content: flex-end;
}

/* ---------------------------------------------------------- */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch label {
    margin-bottom: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* ---------------------------------------------------------- */